nav {
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: "Raleway", sans-serif;
}

.navList {
  display: flex;
  width: 555px;
  justify-content: space-around;
}

/* .all {
    margin-left: 30px;
}

.active {
    margin-left: 30px;
}

.completed {
    margin-right: 10px;
} */

.click {
  border-bottom: 2px solid #2f80ed;
}

nav li {
  text-align: center;
  width: 89px;
  font-size: 14px;
}
